.tracker-bg-container {
  background-color: #000000;
  min-height: 100vh;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
